.navbar {
  background-color: #f7a4a4;
}

.navbar-brand {
  color: #281f19 !important;
}

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.bg-danner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-banner {
  position: relative;
  z-index: 1;
}

.banner-text h1 {
  font-size: 45px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.btn-galery {
  background-color: #281f19;
  color: beige;
}

.btn-galery:hover {
  background-color: beige;
  color: #281f19;
}
.image-gallery:hover {
  scale: 1.1;
}

.invitation-title {
  font-family: "Playfair Display", serif;
}

.contactUss h1{
  font-family: "Playfair Display", serif;
  color: #281f19;
}
.our-service h1 {
  font-family: "Playfair Display", serif;
  color: #281f19;
}

.invitation-title-card h3 {
  font-family: "Playfair Display", serif;
  color: #b85b45;
}

.invitation-title-card p {
  font-family: 'Lobster', cursive;  
  color: #281f19;
}

.invitation-title-card h4 {
  font-family: "Playfair Display", serif;
  color: #ED2B2A;
  font-weight: 700;
}

.aboutUs h3 {
  font-size: 19px;
  font-family: "Playfair Display", serif;
  color: beige;
}

.profit-company h1 {
  font-size: 30px;
  color: beige;
  font-family: "Lobster", cursive;
  font-weight: 700;
}

.profit-company p {
  font-size: 15px;
  color: beige;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.banner-text h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.banner-row {
  height: 100vw;
}

.invitation {
  background-color: #b85b45;
}

.button-login {
  color: #b85b45 !important;
}

.card-invitation {
  /* background-color: #9C9397 !important;
  color: #281F19; */
  transition: transform 0.3s ease-in-out; /* Menambahkan transisi efek */
}
.card-header {
  background-color: #281f19 !important;
  color: #9c9397 !important;
}

.card-href {
  /* background-color:#9C9397; */
  color: #281f19;
}

.card-invitation:hover {
  transform: scale(1.12);
  color: #9c9397 !important;
  background-color: #281f19;
}

/* stylr login page */
.form-login {
  height: 100%;
}

/* end style login page */

@media only screen and (min-width: 900px) {
  .menu {
    display: flex;
    justify-content: end;
    background-color: #000000;
  }
}
